STRINGTABLE
LANGUAGE 0, 0
{
63000, "CWMLANG"
64001, "Сканирование"
64002, "Анализ"
64003, "Идет загрузка данных..."
64004, "Проверьте наличие файла \"..DataImPaths.inf\" и доступ к нему"
64005, "Загрузка данных завершена."
64006, "Проверка Брандмауэера Windows..."
64007, "Построение списка установленных программ и компонентов..."
64008, "Сканирование завершено."
64009, "Подготовка к сканированию..."
64010, "Удаление завершено"
64011, "Получение списка задач Планировщика задач Windows..."
64012, "Список задач Планировщика Windows получен."
64013, "Системные каталоги"
64014, "События Windows"
64015, "Проверка наличия свободного места на дисках"
64016, "Построение списка автозапускаемых программ..."
64017, "Анализ установленных программ и компонентов"
64018, "Файлы трассировки"
64019, "Проверка файла host"
64020, "Получение списка событий Windows..."
64021, "Каталоги пользователей"
64022, "Каталоги пользователя"
64023, "Обработка полученых списков"
64024, "Корзина"
64025, "Очистка корзины"
64026, "Чтение HKCU"
64027, "Запись HKCU"
64028, "Полный доступ HKCU"
64029, "Чтение HKLM"
64030, "Запись HKLM"
64031, "Полный доступ HKLM"
64032, "Реестр"
64033, "Да"
64034, "Нет"
64035, "Права администратора"
64036, "Другое"
64037, "У вас"
64038, "Ошибка в списке элементов анализа"
64039, "Выход за границы массива элементов сканирования."
64040, "Уже идёт удаление другого приложения! Продолжить?"
64041, "Внимание"
64042, "Брандмауэр Windows включен!"
64043, "Требующих внимание событии Windows более"
64044, "Всего событий:"
64045, "Мало места на диске"
64046, "На диске"
64047, "всего"
64048, "Мбайт"
64049, "Реестр: Текущий пользователь"
64050, "Реестр: Текущий компьютер"
64051, "Проставиает более 30 дней"
64052, "Нет прав на чтение некоторых файлов!"
64053, "Неизвестно"
64054, "Удалить временный файл"
64055, "Удалить лишний файл из системной папки"
64056, "Оптимизация"
64057, "Удалить лишнюю программу"
64058, "Не используемый файл трассировки приложения"
64059, "Лишняя функция Windows"
64060, "Свободное место на дисках"
64061, "Уведомление"
64062, "Рекомендация"
64063, "Корзина не пуста"
64064, "Остановить"
64065, "В файле \"hosts\" кем-то внесены изменения!"
64066, "Очистка корзины..."
64067, "Не могу удалить файл автозагрузки!"
64068, "Корневые задачи"
64069, "Никогда"
64070, "Версия:"
64071, "Автор:"
64072, " по событию,"
64073, " один раз,"
64074, " ежедневно,"
64075, " еженедельно,"
64076, " ежемесячно,"
64077, " ежемесячно (в определенный день недели),"
64078, " во время бездействия,"
64079, " при создании или изменении задачи,"
64080, " при каждой загрузке,"
64081, " при входе в систему,"
64082, " при блокировке/разблокировке раб. станции,"
64083, " Отсутствуют"
64084, "Тригеры:"
64085, "Тип события: Запуск программы."
64086, "Команда:"
64087, "Тип события: Оповещение сообщением."
64088, "Заголовок:"
64089, "Сообщение:"
64090, "Тип события: Com Handler Action."
64091, "Тип события: Отправка электронной почты."
64092, "Кому:"
64093, "Тема:"
64094, "Неизвестный тип события. Код события:"
64095, "Задача"
64096, "Последний запуск"
64097, "Следующий запуск"
64098, "Состояние"
64099, "Прошло времени:"
64100, "Отменить ожидание окончания удаления приложения?"
64101, "Разрядность выполняемой версии приложения не соответствует разрядности ОС./nЗапустить соответствующую версию?"
64102, "Программа не имеет необходимых прав для получения информации о вашем компьютере./nВыполните программу от имени администратора!"
64103, "Прошу прощения"
64104, "Программа пока не имеет возможности работать с Windows"
64105, "Что-то пошло не так, но ничего страшного =)"
64106, "Странная ошибка"
64107, "Выбранный путь не существует! Продолжить выполнение команды?"
64108, "Описание задачи"
64109, "Занят другим процессом"
}
